nav{
    background-color: rgb(150, 100, 100);
    height: 60px;
    display: flex;
    align-items: center;
    
}
.searchContainer{
    width: 70%;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;


}
.searchContainer input{
    width: 70%;
    height: 46%;
    border: none;
    padding: 0 15px;
}
.logo{
    width: 100px;
    margin: 0 20px;
}
.searchLogo{
    height: 100%;
}
.searchButton{
    background-color: rgb(176, 101, 8);
    border: none;
    width: 3%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}